<h1>Users</h1>

<table>
  <tr>
    <th>Email</th>
    <th></th>
  </tr>
 
<% @resources.each do |resource| %>
  <tr>
    <td><%= resource.email %></td>
    <td><%= link_to 'Edit', edit_user_path(resource) if resource == current_user %> <%= link_to 'Delete', resource, :confirm => 'Are you sure?', :method => :delete if resource.events.empty? && resource != current_user %></td>
  </tr>
<% end %>
  <tr>
    <td><%= link_to 'New User', new_user_path %></td>
    <td/>
  </tr>
</table>